src/main/resources/parametrage.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/parametrage"
           xmlns:tns="http://example.com/parametrage"
           elementFormDefault="qualified">

    <xs:element name="GetSectorsRequest" type="xs:anyType"/>

    <xs:element name="GetSectorsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sectors" type="tns:SectorDto" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="SectorDto">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
